* {
    
   text-align: center;
    
}

body{
    background-image: url(../images/space.jfif);
    display: block;
    overflow-x: scroll;
width: 1250px;
height: auto;
}

.container1 {
  display: grid;
 grid-template-columns: auto auto auto;
  grid-template-rows: 80% auto;
  grid-gap: 10px;
  padding: 30px;
   background-image: url(../images/space2.jpg);
    text-align: center;
    color:  #ff99bb;



}

.container1 > div {
  background-color:  black;
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  opacity: 0.89;

}

img {
width: 100%;
height: 100%;

}

ul{
    text-align: center;
    word-spacing: 100px;
    color: white;

}
.row1{
    display: inline-table;
    padding: 5px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 5px;
    text-align: center;
 }




figcaption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
  width: 60%;
  color: white;
  font-family:"Papyrus", "Copperplate", fantasy;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
}

  main{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.box{
height: 100px;
width: 50% 50%;
flex-grow: 1;
display: inline-block;
color: white;
font-size:30px;
font-weight: 50;
font-family:"Papyrus", "Copperplate", fantasy;
text-align: center;
background-color: black;
opacity: 0.85;
}

nav{
background-color: black;
}

nav ul{
  list-style-type: none;
  padding: 0;
    display: flex;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #f2d9e6;
  display: block;
  padding: 10px;
  opacity: 0.8;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

nav a:hover{
  background-color: #555;
  text-decoration: underline;
  padding: 3px;
  position: relative;
  top: -4px;
}




footer {
color: white;
font-size: 30px;
font-weight: bold;
  font-size: 18px;
   background-image: url(../images/space.jfif);
   background-repeat: repeat-x;
   text-align: center;
    word-spacing: 0.3em;
     letter-spacing: 5px;
    color: #c6538c;
    padding: 20px 20px;
}

section {
text-align: center;
background-color: black;
opacity: 0.7;

}

section a h2 {

font-weight: bold;
color: darkred;
border: 3px solid gray;
display: inline-block;
padding: 15px 15px;
border-radius: 36px;
background-color: #ff99bb;
}

section a h2:hover{
    border: 5px double #ff99bb;
    color: #ff99bb;
display: inline-block;
padding: 15px 15px;
  background-color: darkred;
  text-decoration: underline;
  padding: 3px;
  position: relative;
  top: -4px;
}

.p2 {
color:  #ff99bb;
align: center;
 background-image: url(../images/space2.jpg);
  opacity: 0.89;
  text-align: center;
}

.about, .about div, .about h2 {
color: #f2d9e6;
font-size: 40px;
text-align: center;
font-weight: bold;
 letter-spacing: 10px;
 background-color: black;
 z-index: 1;
 opacity: 0.8;
 font-family:"Papyrus", "Copperplate", fantasy;

}



@media only screen and (max-width: 480px) {


* {
border: none;
font-weight: medium;
 line-height: 1.5em;
 word-spacing: 0.25em;
   text-decoration: none;
      font-family: "Papyrus", "Copperplate", fantasy;
      margin: 0;

}

body {
height: 100%;
    width: 100%;
}






.container1 {
  display: grid;
 grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 30px;
   background-image: url(../images/space2.jpg);
    text-align: center;
    color:  #ff99bb;



}

.container1 > div {
  background-color:  black;
  text-align: center;
  padding: 5px 5px;
  font-size: 22px;
  opacity: 0.89;

}


}
